
.testi{

    &-main{
        padding: 5rem 0;
        width: 50%;
        margin: 0 auto;

        @include Responsive(large){
            width: 70%;
        }
        @include Responsive(small){
            width: 95%;
        }
    }
}